# LLM Configuration (Default is local Ollama)
LLM_PROVIDER=ollama
LLM_MODEL=qwen2.5-coder:1.5b

# Ollama Endpoint Configuration
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=qwen2.5-coder:1.5b

# Alternative API Keys (Leave blank to use Ollama)
OPENAI_API_KEY=
GOOGLE_API_KEY=

# Image Configurations for Dynamic database/API provisioning
FUSEKI_IMAGE=frnzdock/fairgraph-fuseki:latest
API_IMAGE=frnzdock/fairgraph-api:latest
OIDC_JWKS_URL=https://proxy.sram.surf.nl/OIDC/jwks
# or https://proxy.sram.surf.nl/.well-known/jwks.json

AUTH_MODE=mock

OIDC_ISSUER_URL=http://localhost:8000
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URI=https://fairgraph.nl/login
OIDC_SCOPE=openid profile email eduperson_entitlement
OIDC_USERNAME_CLAIM=preferred_username
OIDC_ROLE_CLAIM=role
OIDC_GROUPS_CLAIM=eduperson_entitlement
OIDC_AUDIENCE=
